
{% extends "base.html" %}
{% block title %}All Quotes{% endblock %}
{% block header %}All Quotes{% endblock %}
{% block content %}

  <!-- Table -->
  <h3>All Quotes</h3>

  {% load quote_extras %}							
    <div class="table-wrapper">
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Client Name</th>
                <th>Company</th>
                <th>Submited</th>
                <th>Quoted</th>
                <th>Quoted Price</th>
                <th>Last Updated</th>
                <th>Submitter</th>
                {% if request.user.is_superuser or user.get_username == "sampleadminuser" or request.user|is_in_testing_group %}<th></th>{% endif %}
            </tr>
            </thead>
            <tbody>
            {% if quotes %}
            {% for q in quotes %}
                <tr>
                    <td><a href="{% url 'quote_detail' q.id %}">{{ q.id }}</a></td>
                    <td>{{ q.name }}</td>
                    <td>{{ q.company }} </td>
                    <td>{{ q.created }}</td>
                    <td>{{ q.quoted }}</td>
                    <td>{% if q.quoted_price  %}{{ q.quoted_price }} {% else %}--{% endif %}</td>														
                    <td>{{ q.updated }}</td>
                    <td>{{ q.requester | title }}</td>
                    {% if request.user.is_superuser or user.get_username == "sampleadminuser" or request.user|is_in_testing_group %}<td><a href="{% url 'quote_edit' q.id %}">Edit</a></td>{% endif %}
                </tr>
            {% endfor %}
           
            {% endif %}    
            
               
          </tbody>
          <!-- <tfoot>
              <tr>
                  <td colspan="5"></td>
                  <td>100.00</td>
              </tr>
          </tfoot> -->
          
        </table>
        
        {% if quotes %}{% include 'pagination.html' with page=quotes %}{% endif %}
     </div>
{% endblock %}