{% extends "base.html" %}
{% block title %}Quote Edit{% endblock %}
{% block header %}Quote Edit{% endblock %}
{% block content %}
<a href="{% url 'quotes_list' %}"><== Back to List</a><br /><br />
  <h2>You can edit the quote using the following form:</h2>
  
<!--   <form method="post" enctype="multipart/form-data"> -->
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ quote_edit_form.as_p }}
    
    <p><input type="submit" value="Save Changes"></p>
  </form>
{% endblock %}
